@import url('./_colors.css');

.primary-alert {
    background-color: var(--light-primary);
    color: var(--primary);
    padding: 1rem 0.75rem;
}

.secondary-alert {
    background-color: var(--light-secondary);
    color: var(--secondary);
    padding: 1rem 0.75rem;
}

.warning-alert {
    background-color: var(--light-warning);
    color: var(--warning);
    padding: 1rem 0.75rem;
}

.error-alert {
    background-color: var(--light-danger);
    color: var(--danger);
    padding: 1rem 0.75rem;
}

.success-alert {
    background-color: var(--light-success);
    color: var(--success);
    padding: 1rem 0.75rem;
}