.form {
    display: flex;
    flex-direction: column;
}

.input_form {
    width: 20rem;
    padding: 5px;
}

.error_input {
    border: none;
    box-shadow: 0 0 3px #CC0000;
}

.error_message {
    font-size: 10px;
    color: red;
}

.input_field {
    padding: 10px;
}