@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #f1f1f1;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    overflow: auto;
}

.content {
    margin-left: 18.75rem;
}

li {
    display: block;
    color: black;
}

.non-bullet {
    list-style-type: none;
}

.bolder {
    font-weight: 900;
    font-size: 20px;
}

.list-item {
    cursor: pointer;
    padding: 10px;
}

.list-item:hover {
    background-color: #3D9AEE;
    color: var(--white);
}

.style_attribute {
    text-decoration: none;
    color: #000000;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.bonded {
    display: flex;
    flex-direction: column;
}

.inline_avatar {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
}

.code-snippet {
    width: 960px; 
    height: 400px; 
    border:0; 
    transform: scale(1); 
    overflow:hidden;
} 

.component {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.grey {
    color: var(--grey);
}